SECRET_KEY=hirelens-super-secret-key-change-this
DATABASE_URL=sqlite:///hirelens.db

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=gurunathpatil2304@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_DEFAULT_SENDER=gurunathpatil2304@gmail.com